doctype html
html[lang="en"]
  head
    meta[charset="utf-8"]
    meta[http-equiv="X-UA-Compatible" content="IE=edge"]
    meta[name="viewport" content="width=device-width, initial-scale=1"]
    meta[name="description" content="Reid Collins is a backend Perl/Ruby Developer and Scrum Master"]
    meta[name="keywords" content="ruby, ruby on rails, perl, scrum master, postgresql, postgres"]
    meta[name="author" content="Reid Collins"]
    title
      | HIHELLOREID –
    link[rel="icon" type="image/png" href="/img/favi.ico" sizes="32x32"]
    link[rel="stylesheet" href="css/bootstrap.min.css"]
    link[href="http://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:300,400,700,900" rel="stylesheet" type="text/css"]
    link[rel="stylesheet" href="css/linear-fonts.css"]
    link[rel="stylesheet" href="css/font-awesome.css"]
    link[rel="stylesheet" href="css/owl.carousel.css"]
    link[rel="stylesheet" href="css/owl.theme.css"]
    link[rel="stylesheet" href="css/lightbox.min.css"]
    link[rel="stylesheet" href="css/magnific-popup.css"]
    link[rel="stylesheet" href="css/animate.min.css"]
    link[rel="stylesheet" href="css/style.css"]
    link[rel="stylesheet" href="css/responsive.css"]
  body
    .preloader
      .status
        .status-mes
    header#home.welcome-area
      .header-top-area
        .container
          .row
            .col-md-3
              .logo
                a[href="/"]

                  p
                    | HIHELLOREID
            .col-md-9
              .mainmenu
                .navbar.navbar-nobg
                  .navbar-header
                    button.navbar-toggle[type="button" data-toggle="collapse" data-target=".navbar-collapse"]
                      span.sr-only
                        | Toggle navigation
                      span.icon-bar
                      span.icon-bar
                      span.icon-bar
                  .navbar-collapse.collapse
                    ul.nav.navbar-nav.navbar-right
                      li.active
                        a.smoth-scroll[href="#home"]
                          | Home 
                        .ripple-wrapper
                      li
                        a.smoth-scroll[href="#about"]
                          | About
                      li
                        a.smoth-scroll[href="#experience"]
                          | Experience
                      li
                        a.smoth-scroll[href="#education"]
                          | Education
                      li
                        a.smoth-scroll[href="#contact"]
                          | Contact
      .welcome-image-area[data-stellar-background-ratio="0.6"]
        .display-table
          .display-table-cell
            .container
              .row
                .col-md-12.text-center
                  .header-text.text-center
                    p.wow.fadeInUp[data-wow-delay="0.4s"]
                      | Hello! This is Reid Collins
                    h2.wow.fadeInUp[data-wow-delay="0.8s"]
                      | SOFTWARE DEVELOPER
                    h2.wow.fadeInUp[data-wow-delay="0.8s"]
                      | SCRUM MASTER
                    .social-links.text-center
                      ul
                        li
                          a[href="https://www.facebook.com/reid.collins.73"]
                            i.fa.fa-facebook
                        li
                          a[href="https://twitter.com/helloreid?lang=en"]
                            i.fa.fa-twitter
                        li
                          a[href="https://github.com/snacksnack"]
                            i.fa.fa-github
                        li
                          a[href="https://www.instagram.com/dolphintaco"]
                            i.fa.fa-instagram
                    a.hire-btn.smoth-scroll.wow.fadeInUp[data-wow-delay="1.4s" href="#about"]
                      | Download CV
                    a.hire-btn.smoth-scroll.wow.fadeInUp[data-wow-delay="1.4s" href="#contact"]
                      | Hire Me
    section#about.about-us-area.section-padding
      .container
        .row
          .col-sm-12
            .section-title
              h2
                | about reid
        .row
          .col-md-6.col-sm-6
            .block-text-skill.about-text.wow.fadeInUp[data-wow-delay=".2s"]
              p
                |  I am a Brooklyn based backend software developer (Ruby + Perl) keen on collaborative work, balancing everchanging client needs against organization roadmaps, delivering commitments to business stakeholders, and keeping development teams happy and motivated throughout the process. 
              a.hire-btn.download-btn.smoth-scroll.wow.fadeInUp[data-wow-delay="1.4s" href="docs/reidcollins.pdf"]
                | Download CV
          .col-md-6.col-sm-6
            ul.self-information
              li
                span.title
                  | NAME: 
                span.self-content
                  | Reid Collins
              li
                span.title
                  | PROFESSION: 
                span.self-content
                  | Software Developer/Scrum Master
              li
                span.title
                  | ADDRESS: 
                span.self-content
                  | Brooklyn NY
              li
                span.title
                  | E-MAIL: 
                span.self-content
                  a[href="mailto:hihelloreid@gmail.com"]
                    | hihelloreid@gmail.com
              li
                span.title
                  | WEBSITE: 
                span.self-content
                  a[href="https://hihelloreid.com"]
                    | www.hihelloreid.com
        .row
          .col-md-4.col-sm-6
            .single-project-complete.single-project-border
              span.fa.fa-server
              h4
                | Web Tech
              h6.textmuted
                | Perl/Catalyst
              h6.textmuted
                | Ruby/Rails
              h6.textmuted
                | Sinatra
              h6.textmuted
                | CSS (Bootstrap)
              h6.textmuted
                | Javascript (JQuery)
          .col-md-4.col-sm-6
            .single-project-complete.single-project-border
              span.fa.fa-database
              h4
                | Data Storage
              h6.text-muted
                | PostGreSQL
              h6.text-muted
                | MongoDB
              h6.text-muted
                | SQL*Loader
              h6.text-muted
                | BerkeleyDB
              h6.text-muted
                | CDB
          .col-md-4.col-sm-6
            .single-project-complete.single-project-border
              span.fa.fa-tachometer.icon
              h4
                | Deployment / Tools
              h6.text-muted
                | AWS (EC2, S3)
              h6.text-muted
                | Heroku
              h6.text-muted
                | Git
              h6.text-muted
                | Puppet
              h6.text-muted
                | Ansible
    section#experience.experiences-area.section-padding
      .container
        .row
          .col-sm-12
            .section-title
              h2
                | Experience
        .row
          .col-sm-10.col-sm-offset-1
            p.section-short-desc.text-center[data-wow-delay=".2s"]
              |  I have a wide bredth of experience in the digital marketing field, both client facing and backend technical work. I currently serve as Software Developer - Scrum Master for two geographically dispersed teams (New York, San Jose CR, Kuala Lumpur). More details can be found in my CV. 
        .row
          .col-sm-10.col-sm-offset-5
            a.center.hire-btn.download-btn.smoth-scroll.wow.fadeInUp[data-wow-delay="1.4s" href="docs/reidcollins.pdf"]
              | Download CV
        .row
          .col-md-6.col-sm-6
            .single-experence
              span.fa.fa-bookmark.icon
              .text-box
                h3
                  | CHEETAHDIGITAL
                h4
                  | Software Developer/Scrum Master 
                  span
                    | (2015 - Present)
                p.section-short-desc.text-center[data-wow-delay=".2s"]
                  |  Serving as Software Developer (Perl) and Scrum Master, I am involved in all facets of the Software Delivery Life Cycle. I liase with customers, product owners, and devolopers to reliably deliver software. 
          .col-md-6.col-sm-6
            .single-experence
              span.fa.fa-bookmark.icon
              .text-box
                h3
                  | BESPOKE GLOBAL
                h4
                  | Software Developer 
                  span
                    | (2014)
                p.section-short-desc.text-center[data-wow-delay=".2s"]
                  |  As a contract software developer (Ruby on Rails) for an eCommerce startup, I simplified the checkout process to drive increased sales. I built dashboards ActiveAdmin dashboards to make sales metrics visible. 
          .col-md-6.col-sm-6
            .single-experence
              span.fa.fa-bookmark.icon
              .text-box
                h3
                  | CHEETAHMAIL
                h4
                  | Software Developer, Platform Team 
                  span
                    | (2011 - 2013)
                p.section-short-desc.text-center[data-wow-delay=".2s"]
                  |  As a software developer (Perl) on the platform team, I build new features for a leading eMarketing company. Implement improvements to email campaigns throughput, optimize reporting, etc... 
          .col-md-6.col-sm-6
            .single-experence
              span.fa.fa-bookmark.icon
              .text-box
                h3
                  | CHEETAHMAIL
                h4
                  | Software Developer, Client Dev Team 
                  span
                    | (2008 - 2011)
                p.section-short-desc.text-center[data-wow-delay=".2s"]
                  |  As software developer, I implemented remarketing campaigns for clients, integrate client data feeds to and from our platform, liase with 3rd party vendors, and visited clients to explain complex technical issues, etc... 
          .col-md-6.col-sm-6
            .single-experence
              span.fa.fa-bookmark.icon
              .text-box
                h3
                  | CHEETAHMAIL
                h4
                  | Ops Engineer, Operations Team 
                  span
                    | (2005 - 2008)
                p.section-short-desc.text-center[data-wow-delay=".2s"]
                  |  My duties included maintaining the health of the platform and orchestrating responses to outages. I fielded bug reports and provided fixes or alterative solutions to clients highly sensitive to revenue loss. 
          .col-md-6.col-sm-6
            .single-experence
              span.fa.fa-bookmark.icon
              .text-box
                h3
                  | CHEETAHMAIL
                h4
                  | Client Relationship Manager, Client Services 
                  span
                    | (2001 - 2005)
                p.section-short-desc.text-center[data-wow-delay=".2s"]
                  |  I managed email campaigns for clients from multiple verticals to drive revenue gains. Additionally, I worked with clients to implement CheetahMail's API suite and form coding into their websites. 
          .col-sm-10.col-sm-offset-5
            a.center.hire-btn.download-btn.smoth-scroll.wow.fadeInUp[data-wow-delay="1.4s" href="docs/reidcollins.pdf"]
              | Download CV
    section#education.education-area.section-padding
      .container
        .row
          .col-md-12
            .section-title
              h2
                | Education
        .row
          .col-sm-12
            .single-education
              span.fa.fa-book.icon
              .text-box
                h3
                  | TULANE UNIVERSITY
                h4
                  | International Relations
                h4
                  | Batchelor of Arts
                h4
                  | 1998
    section#contact.contact-area.section-padding
      .container
        .row
          .col-sm-12
            .section-title
              h2
                | hire reid!
        .row.contact-form-design-area.wow.fadeInUp
          .col-md-12
            .contact-form
              - if flash.has?(:message)
                .row
                  = flash[:message]
              .row
                // form_messages to be populated by ajax
                #form_messages
                form[action="contact" method="post" id="contact_form"]
                  .form-group.col-md-6
                    p
                      | name
                    input#name.form-control[type="text" name="name" required="required"]
                  .form-group.col-md-6
                    p
                      | email
                    input#email.form-control[type="email" name="email" required="required"]
                  .form-group.col-md-12
                    p
                      | subject
                    input#subject.form-control[type="text" name="subject" required="required"]
                  .form-group.col-md-12
                    p
                      | message
                    textarea#message.form-control[rows="6" name="message" required="required"]
                  .col-md-12.text-center
                    button
                      | Send Message
    footer.footer-area.wow.fadeInUp[data-wow-delay="1s"]
      .container
        .row
          .col-sm-12.text-center
            .footer-social-link.text-center
              ul
                li
                  a[href="https://www.facebook.com/reid.collins.73"]
                    i.fa.fa-facebook
                li
                  a[href="https://twitter.com/helloreid?lang=en"]
                    i.fa.fa-twitter
                li
                  a[href="https://github.com/snacksnack"]
                    i.fa.fa-github
                li
                  a[href="https://www.instagram.com/dolphintaco"]
                    i.fa.fa-instagram
    .scroll-to-up
      .scrollup
        span.lnr.lnr-chevron-up
    script[src="js/jquery.min.js"]
    script[src="js/bootstrap.min.js"]
    script[src="js/jquery.appear.js"]
    script[src="js/owl.carousel.min.js"]
    script[src="js/jquery.mixitup.js"]
    script[src="js/jquery.magnific-popup.min.js"]
    script[src="js/jquery.stellar.min.js"]
    
    script[src="js/jquery.waypoints.min.js"]
    script[src="js/jquery.counterup.min.js"]
    script[src="js/lightbox.min.js"]
    script[src="js/wow.min.js"]
    script[src="js/contact.js"]
    script[src="js/scripts.js"]